body {
  font-family: Arial, sans-serif;
  background-color: black;
}

button {
  height: 60px;
  width: 60px;
  border-radius: 60px;
  border: none;
  font-size: 26px;
  cursor: pointer;
  margin-right: 5px;
  background-color: rgb(51, 51, 51);
  color: white;
}

.orange-btn {
  background-color: #fea00a;
}

.Clear-btn {
  font-size: 17px;
}

.display-calculation {
  color: white;
  font-size: 45px;
  margin-top: 15px;
  margin-bottom: 5px;
}
